<head>
    <link rel="stylesheet" href="/categories.css">
    <link rel="stylesheet" href="popupS.css">
</head>

<body>
    <h1 class="my-5">Категорії</h1>
    <form action="categories/add" method="POST">
        <label for="catname">Назва категорії:</label>
        <input type="text" id="catname" name="catname" required>
        <button type="submit">Додати категорію</button>
    </form>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Номер категорії</th>
                    <th>Назва категорії</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="categories-table">
                {{#each categories}}
                <tr>
                    <td>{{this.category_number}}</td>
                    <td>{{this.category_name}}</td>
                    <td>
                        <a href="categories/edit/{{this.category_number}}" class="btn btn-success btn-sm"><i class="fas fa-pencil-alt"></i></a>
                        <a href="categories/delete/{{this.category_number}}" class="btn btn-danger btn-sm"><i class="fa fa-times"></i></a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    </div>
    <!-- Підключаємо jQuery та Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>