<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Змінити пароль</title>
    <link rel="stylesheet" href="/profile.css">
    <script>
        function validateForm() {
            var newPassword = document.getElementById("newPassword").value;
            var confirmPassword = document.getElementById("confirmPassword").value;
            
            if (newPassword !== confirmPassword) {
                alert("Паролі не співпадають!");
                return false;
            }
        }
    </script>
</head>
<body>
    <h1 class="my-5">Змінити пароль</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <form action="/profile/change-password" method="POST" onsubmit="return validateForm();">
                    <div class="form-group">
                        <label for="currentPassword">Поточний пароль:</label>
                        <input type="password" name="currentPassword" id="currentPassword" required>
                    </div>
                    <div class="form-group">
                        <label for="newPassword">Новий пароль:</label>
                        <input type="password" name="newPassword" id="newPassword" required>
                    </div>
                    <div class="form-group">
                        <label for="confirmPassword">Підтвердіть новий пароль:</label>
                        <input type="password" name="confirmPassword" id="confirmPassword" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Змінити пароль</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
