<head>
<link rel="stylesheet" href="/create.css">
</head>

<body>
    <!-- Форма для додавання нового клієнта -->
    <h2 class="mt-5">Додати нового працівника</h2>
    <form action="/employees/adding" method="POST">
        <div class="form-group">
            <label for="addemplfirstname">Ім'я:</label>
            <input type="text" id="addemplfirstname" name="addemplfirstname" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="addempllastname">Прізвище:</label>
            <input type="text" id="addempllastname" name="addempllastname" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="addemplpatronymic">По-батькові:</label>
            <input type="text" id="addemplpatronymic" name="addemplpatronymic" class="form-control">
        </div>
        <div class="form-group">
            <label for="addemplposition">Посада:</label>
            <select id="addemplposition" name="addemplposition" class="form-control" required>
                <option value="manager">Manager</option>
                <option value="cashier">Cashier</option>
            </select>
        </div>
        <div class="form-group">
            <label for="addemplsalary">Заробітня плата:</label>
            <input type="number" id="addemplsalary" min="0" name="addemplsalary" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="addempldateofbirth">Дата народження:</label>
            <input type="date" id="addempldateofbirth" name="addempldateofbirth" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="addempldateofstart">Дата початку роботи:</label>
            <input type="date" id="addempldateofstart" name="addempldateofstart" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="addemplphone">Номер телефону:</label>
            <input type="text" id="addemplphone" name="addemplphone" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="addemplcity">Місто:</label>
            <input type="text" id="addemplcity" name="addemplcity" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="addemplstreet">Вулиця:</label>
            <input type="text" id="addemplstreet" name="addemplstreet" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="addemplzipcode">Зіп-код:</label>
            <input type="text" id="addemplzipcode" name="addemplzipcode" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="addempllogin">Пароль для входу в систему:</label>
            <input type="text" id="addempllogin" name="addempllogin" class="form-control" required pattern=".{4,}">
        </div>
        <div class="form-group">
            <label for="addemplpassword">Пароль для входу в систему:</label>
            <input type="text" id="addemplpassword" name="addemplpassword" class="form-control" required pattern=".{8,}">
        </div>
         
        <button type="submit" class="btn btn-primary">Додати</button>
    </form>
    </div>
    <!-- Підключаємо jQuery та Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- Підключаємо власний JavaScript -->
    <script src="customers.js"></script>
    
    </body>