<head>

    <style>
      .row{
        margin-top: 5px;
        margin-bottom: 15px;
        margin-left: 10px;
      }

        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        h1 {
            background-color: #333;
            color: #fff;
            padding: 10px;
            text-align: center;
            margin-top: 5px;
            margin-bottom: 15px;
            margin-left: 10px;
        }
        .btn-primary {
           background-color: #333;
            color: #fff;
            padding: 10px;
            border: none;
            border-radius: 5px;
            font-size: 16px;
            cursor: pointer;
        }

        table {
            width: 80%;
            margin: 20px;
            border-collapse: collapse;
        }

        th,
        td {
            padding: 10px;
            text-align: left;
            border-bottom: 1px solid #ccc;
        }

        th {
            background-color: #333;
            color: #fff;
        }

        tr:hover {
            background-color: #f5f5f5;
        }

        /* Стилі для кнопок дій з категоріями */
        .action-buttons button {
            background-color: #333;
            color: #fff;
            padding: 5px;
            border: none;
            border-radius: 5px;
            font-size: 12px;
            cursor: pointer;
        }

        .action-buttons button:hover {
            background-color: #666;
        }
    </style>
</head>

<body>
  <h1 class="my-5">Клієнти</h1>
    <div class="row">
        
        <a href="/customers/add" class="btn btn-primary">Додати нового клієнта</a>

            <div class="col-md-4">
              <div class="input-group">
                <input type="text" id="search-discount" class="form-control" placeholder="Пошук за відсотком знижки">
                <button class="btn btn-outline-secondary" type="button">
                  <i class="fas fa-search"></i>
                </button>
              </div>
            </div>
          </div>
        
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Номер карти</th>
                  <th>Ім'я</th>
                  <th>Прізвище</th>
                  <th>По-батькові</th>
                  <th>Номер телефону</th>
                  <th>Місто</th>
                  <th>Вулиця</th>
                  <th>Зіп-код</th>
                  <th>Відсоток знижки</th>
                  <th></th>
                </tr>
              </thead>
              <tbody id="client-table">
                <tr>
                  <td>1</td>
                  <td>Анна</td>
                  <td>Іванова</td>
                  <td>Вікторівна</td>
                  <td>+380987654321</td>
                  <td>Київ</td>
                  <td>Володимирська</td>
                  <td>01001</td>
                  <td>5%</td>
                  <td>
                    <button class="btn btn-success btn-sm"><i class="fas fa-pencil-alt"></i></button>
                    <button class="btn btn-danger btn-sm"><i class="fa fa-times"></i></button>
                  </td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>Олександр</td>
                  <td>Петров</td>
                  <td>Олегович</td>
                  <td>+380987654322</td>
                  <td>Львів</td>
                  <td>Січових Стрільців</td>
                  <td>79000</td>
                  <td>10%</td>
                  <td>
                    <button class="btn btn-success btn-sm"><i class="fas fa-pencil-alt"></i></button>
                    <button class="btn btn-danger btn-sm"><i class="fa fa-times"></i></button>
                  </td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>Марія</td>
                  <td>Сидоренко</td>
                  <td>Михайлівна</td>
                  <td>+380987654323</td>
                  <td>Одеса</td>
                  <td>Дерибасівська</td>
                  <td>65000</td>
                  <td>15%</td>
                  <td>
                    <button class="btn btn-success btn-sm"><i class="fas fa-pencil-alt"></i></button>
                    <button class="btn btn-danger btn-sm"><i class="fa fa-times"></i></button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
    </div>
    <!-- Підключаємо jQuery та Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>