<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Номер категорії</th>
                <th>Кількість товару</th>

            </tr>
        </thead>
        <tbody id="productsinmarket-table">
            {{#each info}}
            <tr>
                <td>{{this.category_number}}</td>
                <td>{{this.total_products}}</td>

            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
