body {
  background-color:  #ccc;
}

.card {
  border: none;
}

.card-header {
  background-color: rgb(54, 83, 47);
}

.btn-primary {
  background-color:  #F09819;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 30px;
}

.btn-primary:hover {
  background-color: #ca8018;
  border-color: #be7816;
}

.card-body{
  background-color: #ffffff;
}

