form, h2{
    margin-top: 5px;
    margin-left: 15px;
    margin-right: 15px;
}
        /* Загальні стилі для сторінки */
body {
    font-family: "Georgia", "Courier New", serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

/* Стилі для заголовка */
h1 {
    background-color: rgb(54, 83, 47);
    color: #fff;
    padding: 10px;
    margin: 20px;
    text-align: center;
}

/* Стилі для форм */
form {
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form input[type="text"] {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

form button {
    background-color: rgb(54, 83, 47);
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

form button:hover {
    background-color: #666;
}

/* Стилі для таблиці */
table {
    width: 80%;
    margin: 20px;
    border-collapse: collapse;
}

th,
td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ccc;
}

th {
    background-color: rgb(54, 83, 47);
    color: #fff;
}

tr:hover {
    background-color: #f5f5f5;
}

/* Стилі для кнопок дій з категоріями */
.btn-primary {
    background-color: rgb(54, 83, 47);
    color: #fff;
    padding: 5px;
    border: none;
    border-radius: 5px;
    font-size: 25px;
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(54, 83, 47);
}

.btn-primary {
    background-color: rgb(54, 83, 47);
}

.btn-primary:hover {
    background-color: rgb(54, 83, 47);
}
